# Copy this file to ".env" in the frontend/ folder.
VITE_API_URL=http://localhost:5000/api

# Supabase Credentials
VITE_SUPABASE_URL=https://dlpbhqmoyknieefhupdv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_wXkzn5cHpzG1QyJ6lpCWlQ_ZhUekibK
